$font-color: #fff;
$background-color: rgba(255, 136, 0, 0.5);
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$mask-color: rgba(0,0,0,0.1);
$bordercolor: lightgray;
$button-color: red;
$bordercolor: blue;
$text-shadow-color: purple;
$fadeColor: rgba(255,255,255,0.6);